name: Test tap-eventbrite

on:
  push:
    branches: [main]
    paths:
      - tap_eventbrite/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
      - .github/workflows/constraints.txt
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - tap_eventbrite/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
      - .github/workflows/constraints.txt
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

env:
  FORCE_COLOR: "1"

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.12"
          - "3.13"
          - "3.14"
        include:
        - { environment: "dependencies", python-version: "3.x" }
        - { environment: "typing",       python-version: "3.x" }

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ">=0.9"

    - name: Install Tox
      env:
        UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: |
        uv tool install --with tox-uv tox
        tox --version

    - name: Run tests
      env:
        TAP_EVENTBRITE_TOKEN: ${{ secrets.TAP_EVENTBRITE_TOKEN }}
        TAP_EVENTBRITE_BASE_URL: ${{ secrets.TAP_EVENTBRITE_BASE_URL }}
        TAP_EVENTBRITE_START_DATE: ${{ secrets.TAP_EVENTBRITE_START_DATE }}
      run: |
        tox -e ${{ matrix.environment || matrix.python-version }}
