name: Test tap-eventbrite

on:
  push:
    branches: [main]
    paths:
      - tap_eventbrite/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
      - .github/workflows/constraints.txt
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - tap_eventbrite/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
      - .github/workflows/constraints.txt
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

env:
  FORCE_COLOR: "1"

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.12"
          - "3.13"
          - "3.14"
        include:
        - { environment: "dependencies", python-version: "3.x" }
        - { environment: "typing",       python-version: "3.x" }

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        version: ">=0.9"

    - name: Install Tox
      env:
        UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: |
        uv tool install --with tox-uv tox
        tox --version

    - name: Run tests
      env:
        TAP_EVENTBRITE_TOKEN: ${{ secrets.TAP_EVENTBRITE_TOKEN }}
        TAP_EVENTBRITE_BASE_URL: ${{ secrets.TAP_EVENTBRITE_BASE_URL }}
        TAP_EVENTBRITE_START_DATE: ${{ secrets.TAP_EVENTBRITE_START_DATE }}
      run: |
        tox -e ${{ matrix.environment || matrix.python-version }}
